body {
  background-image: url("../pics/background.png");
  color: #262625;
  font-family: "Century Gothic";
  font-size: 18px;
  font-weight: lighter;
  text-align: justify;
  margin: 0;
  line-height: 1.6;
}

h1 {
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 16px;
  text-align: center;
}

a {
  target: _blank;
  color: rgb(0,0,0);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: rgb(100,100,100);
  text-decoration: underline;
}

.container {
  background: #E1E1DB;
  opacity: 0.95;
  padding: 40px;
  width: 700px;
  margin: 50px auto;
  border-radius: 40px;
}

.socialmedia-container {
  text-align: center;
  padding-top: 30px;
}

#socialmedia-icon {
  height: 45px;
  text-align: center;
}
